
.container {
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: .2rem;
  padding: .2rem;
}

.f1 {
  flex: 1;
  margin: .2rem;
}

.f2 {
  flex: 2;
  margin: .2rem;;
}

.f3 {
  flex: 3;
  margin: .2rem;;
}

.f4 {
  flex: 4;
  margin: .2rem;;
}

.f5 {
  flex: 5;
  margin: .2rem;;
}

.justify-center {
  justify-content: center;
}
.align-center {
  align-content: center;
}
