body {
  /* background-color: #333;
  color: #ddd; */
  background-color: #ddd;
  color: #333;
}

canvas {
  position: absolute;
  border: 1px solid #333;
}
#control-bar {
  background-color: burlywood
}